* {
  box-sizing: border-box;
  margin: 0;
}

.o-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
}
.o-container {
  margin: auto;
  width: 1170px;
  max-width: 100%;
}

.u-align__text {
  text-align: center;
}
@media (min-width: 576px) {
  .u-align__text {
    text-align: left;
  }
}
.u-align__text--right {
  text-align: center;
}
@media (min-width: 576px) {
  .u-align__text--right {
    text-align: right;
  }
}
.u-align__text--center {
  text-align: center;
}
@media (min-width: 576px) {
  .u-align__text--center {
    text-align: center;
  }
}

.u-align__content {
  align-items: center;
}
.u-align__content--top {
  align-items: top;
}
.u-align__content--bottom {
  align-items: bottom;
}

.u-width--1-12 {
  width: 8.3333333333%;
}

.u-width--2-12 {
  width: 16.6666666667%;
}

.u-width--3-12 {
  width: 25%;
}

.u-width--4-12 {
  width: 33.3333333333%;
}

.u-width--5-12 {
  width: 41.6666666667%;
}

.u-width--6-12 {
  width: 50%;
}

.u-width--7-12 {
  width: 58.3333333333%;
}

.u-width--8-12 {
  width: 66.6666666667%;
}

.u-width--9-12 {
  width: 75%;
}

.u-width--10-12 {
  width: 83.3333333333%;
}

.u-width--11-12 {
  width: 91.6666666667%;
}

.u-width--12-12 {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .u-width--1-12\@sm {
    width: 8.3333333333%;
  }

  .u-width--2-12\@sm {
    width: 16.6666666667%;
  }

  .u-width--3-12\@sm {
    width: 25%;
  }

  .u-width--4-12\@sm {
    width: 33.3333333333%;
  }

  .u-width--5-12\@sm {
    width: 41.6666666667%;
  }

  .u-width--6-12\@sm {
    width: 50%;
  }

  .u-width--7-12\@sm {
    width: 58.3333333333%;
  }

  .u-width--8-12\@sm {
    width: 66.6666666667%;
  }

  .u-width--9-12\@sm {
    width: 75%;
  }

  .u-width--10-12\@sm {
    width: 83.3333333333%;
  }

  .u-width--11-12\@sm {
    width: 91.6666666667%;
  }

  .u-width--12-12\@sm {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .u-width--1-12\@md {
    width: 8.3333333333%;
  }

  .u-width--2-12\@md {
    width: 16.6666666667%;
  }

  .u-width--3-12\@md {
    width: 25%;
  }

  .u-width--4-12\@md {
    width: 33.3333333333%;
  }

  .u-width--5-12\@md {
    width: 41.6666666667%;
  }

  .u-width--6-12\@md {
    width: 50%;
  }

  .u-width--7-12\@md {
    width: 58.3333333333%;
  }

  .u-width--8-12\@md {
    width: 66.6666666667%;
  }

  .u-width--9-12\@md {
    width: 75%;
  }

  .u-width--10-12\@md {
    width: 83.3333333333%;
  }

  .u-width--11-12\@md {
    width: 91.6666666667%;
  }

  .u-width--12-12\@md {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .u-width--1-12\@lg {
    width: 8.3333333333%;
  }

  .u-width--2-12\@lg {
    width: 16.6666666667%;
  }

  .u-width--3-12\@lg {
    width: 25%;
  }

  .u-width--4-12\@lg {
    width: 33.3333333333%;
  }

  .u-width--5-12\@lg {
    width: 41.6666666667%;
  }

  .u-width--6-12\@lg {
    width: 50%;
  }

  .u-width--7-12\@lg {
    width: 58.3333333333%;
  }

  .u-width--8-12\@lg {
    width: 66.6666666667%;
  }

  .u-width--9-12\@lg {
    width: 75%;
  }

  .u-width--10-12\@lg {
    width: 83.3333333333%;
  }

  .u-width--11-12\@lg {
    width: 91.6666666667%;
  }

  .u-width--12-12\@lg {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .u-width--1-12\@xl {
    width: 8.3333333333%;
  }

  .u-width--2-12\@xl {
    width: 16.6666666667%;
  }

  .u-width--3-12\@xl {
    width: 25%;
  }

  .u-width--4-12\@xl {
    width: 33.3333333333%;
  }

  .u-width--5-12\@xl {
    width: 41.6666666667%;
  }

  .u-width--6-12\@xl {
    width: 50%;
  }

  .u-width--7-12\@xl {
    width: 58.3333333333%;
  }

  .u-width--8-12\@xl {
    width: 66.6666666667%;
  }

  .u-width--9-12\@xl {
    width: 75%;
  }

  .u-width--10-12\@xl {
    width: 83.3333333333%;
  }

  .u-width--11-12\@xl {
    width: 91.6666666667%;
  }

  .u-width--12-12\@xl {
    width: 100%;
  }
}
/* Padding, Margin */
.u-margin--huge {
  margin: 40px;
}

.u-padding--huge {
  padding: 40px;
}

.u-margin-bottom--huge {
  margin-bottom: 40px;
}

.u-padding-bottom--huge {
  padding-bottom: 40px;
}

.u-margin-right--huge {
  margin-right: 40px;
}

.u-padding-right--huge {
  padding-right: 40px;
}

.u-margin--large {
  margin: 32px;
}

.u-padding--large {
  padding: 32px;
}

.u-margin-bottom--large {
  margin-bottom: 32px;
}

.u-padding-bottom--large {
  padding-bottom: 32px;
}

.u-margin-right--large {
  margin-right: 32px;
}

.u-padding-right--large {
  padding-right: 32px;
}

.u-margin--medium {
  margin: 24px;
}

.u-padding--medium {
  padding: 24px;
}

.u-margin-bottom--medium {
  margin-bottom: 24px;
}

.u-padding-bottom--medium {
  padding-bottom: 24px;
}

.u-margin-right--medium {
  margin-right: 24px;
}

.u-padding-right--medium {
  padding-right: 24px;
}

.u-margin--small {
  margin: 16px;
}

.u-padding--small {
  padding: 16px;
}

.u-margin-bottom--small {
  margin-bottom: 16px;
}

.u-padding-bottom--small {
  padding-bottom: 16px;
}

.u-margin-right--small {
  margin-right: 16px;
}

.u-padding-right--small {
  padding-right: 16px;
}

.u-margin--tiny {
  margin: 8px;
}

.u-padding--tiny {
  padding: 8px;
}

.u-margin-bottom--tiny {
  margin-bottom: 8px;
}

.u-padding-bottom--tiny {
  padding-bottom: 8px;
}

.u-margin-right--tiny {
  margin-right: 8px;
}

.u-padding-right--tiny {
  padding-right: 8px;
}

@media screen and (max-width: 576px) {
  .u-margin--huge\@sm {
    margin: 40px;
  }

  .u-padding--huge\@sm {
    padding: 40px;
  }

  .u-margin-bottom--huge\@sm {
    margin-bottom: 40px;
  }

  .u-padding-bottom--huge\@sm {
    padding-bottom: 40px;
  }

  .u-margin-right--huge\@sm {
    margin-right: 40px;
  }

  .u-padding-right--huge\@sm {
    padding-right: 40px;
  }

  .u-margin--large\@sm {
    margin: 32px;
  }

  .u-padding--large\@sm {
    padding: 32px;
  }

  .u-margin-bottom--large\@sm {
    margin-bottom: 32px;
  }

  .u-padding-bottom--large\@sm {
    padding-bottom: 32px;
  }

  .u-margin-right--large\@sm {
    margin-right: 32px;
  }

  .u-padding-right--large\@sm {
    padding-right: 32px;
  }

  .u-margin--medium\@sm {
    margin: 24px;
  }

  .u-padding--medium\@sm {
    padding: 24px;
  }

  .u-margin-bottom--medium\@sm {
    margin-bottom: 24px;
  }

  .u-padding-bottom--medium\@sm {
    padding-bottom: 24px;
  }

  .u-margin-right--medium\@sm {
    margin-right: 24px;
  }

  .u-padding-right--medium\@sm {
    padding-right: 24px;
  }

  .u-margin--small\@sm {
    margin: 16px;
  }

  .u-padding--small\@sm {
    padding: 16px;
  }

  .u-margin-bottom--small\@sm {
    margin-bottom: 16px;
  }

  .u-padding-bottom--small\@sm {
    padding-bottom: 16px;
  }

  .u-margin-right--small\@sm {
    margin-right: 16px;
  }

  .u-padding-right--small\@sm {
    padding-right: 16px;
  }

  .u-margin--tiny\@sm {
    margin: 8px;
  }

  .u-padding--tiny\@sm {
    padding: 8px;
  }

  .u-margin-bottom--tiny\@sm {
    margin-bottom: 8px;
  }

  .u-padding-bottom--tiny\@sm {
    padding-bottom: 8px;
  }

  .u-margin-right--tiny\@sm {
    margin-right: 8px;
  }

  .u-padding-right--tiny\@sm {
    padding-right: 8px;
  }
}
@media screen and (max-width: 768px) {
  .u-margin--huge\@md {
    margin: 40px;
  }

  .u-padding--huge\@md {
    padding: 40px;
  }

  .u-margin-bottom--huge\@md {
    margin-bottom: 40px;
  }

  .u-padding-bottom--huge\@md {
    padding-bottom: 40px;
  }

  .u-margin-right--huge\@md {
    margin-right: 40px;
  }

  .u-padding-right--huge\@md {
    padding-right: 40px;
  }

  .u-margin--large\@md {
    margin: 32px;
  }

  .u-padding--large\@md {
    padding: 32px;
  }

  .u-margin-bottom--large\@md {
    margin-bottom: 32px;
  }

  .u-padding-bottom--large\@md {
    padding-bottom: 32px;
  }

  .u-margin-right--large\@md {
    margin-right: 32px;
  }

  .u-padding-right--large\@md {
    padding-right: 32px;
  }

  .u-margin--medium\@md {
    margin: 24px;
  }

  .u-padding--medium\@md {
    padding: 24px;
  }

  .u-margin-bottom--medium\@md {
    margin-bottom: 24px;
  }

  .u-padding-bottom--medium\@md {
    padding-bottom: 24px;
  }

  .u-margin-right--medium\@md {
    margin-right: 24px;
  }

  .u-padding-right--medium\@md {
    padding-right: 24px;
  }

  .u-margin--small\@md {
    margin: 16px;
  }

  .u-padding--small\@md {
    padding: 16px;
  }

  .u-margin-bottom--small\@md {
    margin-bottom: 16px;
  }

  .u-padding-bottom--small\@md {
    padding-bottom: 16px;
  }

  .u-margin-right--small\@md {
    margin-right: 16px;
  }

  .u-padding-right--small\@md {
    padding-right: 16px;
  }

  .u-margin--tiny\@md {
    margin: 8px;
  }

  .u-padding--tiny\@md {
    padding: 8px;
  }

  .u-margin-bottom--tiny\@md {
    margin-bottom: 8px;
  }

  .u-padding-bottom--tiny\@md {
    padding-bottom: 8px;
  }

  .u-margin-right--tiny\@md {
    margin-right: 8px;
  }

  .u-padding-right--tiny\@md {
    padding-right: 8px;
  }
}
@media screen and (max-width: 992px) {
  .u-margin--huge\@lg {
    margin: 40px;
  }

  .u-padding--huge\@lg {
    padding: 40px;
  }

  .u-margin-bottom--huge\@lg {
    margin-bottom: 40px;
  }

  .u-padding-bottom--huge\@lg {
    padding-bottom: 40px;
  }

  .u-margin-right--huge\@lg {
    margin-right: 40px;
  }

  .u-padding-right--huge\@lg {
    padding-right: 40px;
  }

  .u-margin--large\@lg {
    margin: 32px;
  }

  .u-padding--large\@lg {
    padding: 32px;
  }

  .u-margin-bottom--large\@lg {
    margin-bottom: 32px;
  }

  .u-padding-bottom--large\@lg {
    padding-bottom: 32px;
  }

  .u-margin-right--large\@lg {
    margin-right: 32px;
  }

  .u-padding-right--large\@lg {
    padding-right: 32px;
  }

  .u-margin--medium\@lg {
    margin: 24px;
  }

  .u-padding--medium\@lg {
    padding: 24px;
  }

  .u-margin-bottom--medium\@lg {
    margin-bottom: 24px;
  }

  .u-padding-bottom--medium\@lg {
    padding-bottom: 24px;
  }

  .u-margin-right--medium\@lg {
    margin-right: 24px;
  }

  .u-padding-right--medium\@lg {
    padding-right: 24px;
  }

  .u-margin--small\@lg {
    margin: 16px;
  }

  .u-padding--small\@lg {
    padding: 16px;
  }

  .u-margin-bottom--small\@lg {
    margin-bottom: 16px;
  }

  .u-padding-bottom--small\@lg {
    padding-bottom: 16px;
  }

  .u-margin-right--small\@lg {
    margin-right: 16px;
  }

  .u-padding-right--small\@lg {
    padding-right: 16px;
  }

  .u-margin--tiny\@lg {
    margin: 8px;
  }

  .u-padding--tiny\@lg {
    padding: 8px;
  }

  .u-margin-bottom--tiny\@lg {
    margin-bottom: 8px;
  }

  .u-padding-bottom--tiny\@lg {
    padding-bottom: 8px;
  }

  .u-margin-right--tiny\@lg {
    margin-right: 8px;
  }

  .u-padding-right--tiny\@lg {
    padding-right: 8px;
  }
}
@media screen and (max-width: 1200px) {
  .u-margin--huge\@xl {
    margin: 40px;
  }

  .u-padding--huge\@xl {
    padding: 40px;
  }

  .u-margin-bottom--huge\@xl {
    margin-bottom: 40px;
  }

  .u-padding-bottom--huge\@xl {
    padding-bottom: 40px;
  }

  .u-margin-right--huge\@xl {
    margin-right: 40px;
  }

  .u-padding-right--huge\@xl {
    padding-right: 40px;
  }

  .u-margin--large\@xl {
    margin: 32px;
  }

  .u-padding--large\@xl {
    padding: 32px;
  }

  .u-margin-bottom--large\@xl {
    margin-bottom: 32px;
  }

  .u-padding-bottom--large\@xl {
    padding-bottom: 32px;
  }

  .u-margin-right--large\@xl {
    margin-right: 32px;
  }

  .u-padding-right--large\@xl {
    padding-right: 32px;
  }

  .u-margin--medium\@xl {
    margin: 24px;
  }

  .u-padding--medium\@xl {
    padding: 24px;
  }

  .u-margin-bottom--medium\@xl {
    margin-bottom: 24px;
  }

  .u-padding-bottom--medium\@xl {
    padding-bottom: 24px;
  }

  .u-margin-right--medium\@xl {
    margin-right: 24px;
  }

  .u-padding-right--medium\@xl {
    padding-right: 24px;
  }

  .u-margin--small\@xl {
    margin: 16px;
  }

  .u-padding--small\@xl {
    padding: 16px;
  }

  .u-margin-bottom--small\@xl {
    margin-bottom: 16px;
  }

  .u-padding-bottom--small\@xl {
    padding-bottom: 16px;
  }

  .u-margin-right--small\@xl {
    margin-right: 16px;
  }

  .u-padding-right--small\@xl {
    padding-right: 16px;
  }

  .u-margin--tiny\@xl {
    margin: 8px;
  }

  .u-padding--tiny\@xl {
    padding: 8px;
  }

  .u-margin-bottom--tiny\@xl {
    margin-bottom: 8px;
  }

  .u-padding-bottom--tiny\@xl {
    padding-bottom: 8px;
  }

  .u-margin-right--tiny\@xl {
    margin-right: 8px;
  }

  .u-padding-right--tiny\@xl {
    padding-right: 8px;
  }
}

/*# sourceMappingURL=scaffolding.css.map */
