* {
  box-sizing: border-box;
  margin: 0;
}

/* Settings */
/* Objects */
.o-layout {
  display: flex;
  flex-wrap: wrap;
}
.o-layout .o-layout__item {
  flex: auto;
}

.o-container {
  margin: auto;
  width: 1170px;
  max-width: 100%;
}

/* Components */
.o-accordion__label {
  display: block;
}
.o-accordion__block, .o-accordion__toggle {
  display: none;
}
.o-accordion__toggle:checked + .o-accordion__label + .o-accordion__block {
  display: block;
}

.c-accordion .o-accordion__label {
  border: 1px solid #ccc;
}
.o-blocks__label {
  display: block;
}
.o-blocks__block, .o-blocks__toggle {
  display: none;
}
.o-blocks__toggle:checked + .o-blocks__label + .o-blocks__block {
  display: block;
}

.c-blocks .o-blocks__label {
  border: 1px solid #ccc;
}

.o-box {
  display: block;
}

.c-box {
  overflow: hidden;
}
.c-box--round {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.c-box--border {
  border: 1px solid #ccc;
}
.c-box--border-top {
  border-top: 1px solid #ccc;
}
.c-box--border-bottom {
  border-bottom: 1px solid #ccc;
}
.c-box--border-left {
  border-left: 1px solid #ccc;
}
.c-box--border-right {
  border-right: 1px solid #ccc;
}

.o-button {
  display: inline-block;
  border: 0;
}

.c-button {
  background: #ccc;
}
.c-button--round {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.c-button--border {
  border: 1px solid #ccc;
}
.c-button--border-top {
  border-top: 1px solid #ccc;
}
.c-button--border-bottom {
  border-bottom: 1px solid #ccc;
}
.c-button--border-left {
  border-left: 1px solid #ccc;
}
.c-button--border-right {
  border-right: 1px solid #ccc;
}
.c-button:hover {
  filter: brightness(110%);
}

.c-image {
  max-width: 100%;
}
.c-image--round {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.c-image--border {
  border: 1px solid #ccc;
}
.c-image--border-top {
  border-top: 1px solid #ccc;
}
.c-image--border-bottom {
  border-bottom: 1px solid #ccc;
}
.c-image--border-left {
  border-left: 1px solid #ccc;
}
.c-image--border-right {
  border-right: 1px solid #ccc;
}
.c-image__size--small {
  width: 80px;
}
.c-image__size--medium {
  width: 120px;
}

.c-input label,
.c-input select,
.c-input input[type=text],
.c-input input[type=password],
.c-input textarea {
  display: block;
  width: 100%;
}

.c-nav {
  background: #ccc;
}
.c-nav__menu label {
  background: #ccc;
}
.c-nav__menu label:hover {
  background: #efefef;
}
.c-nav__toggle--checkbox:checked ~ .c-nav__menu, .c-nav__toggle--checkbox:checked ~ .c-nav__menu label {
  display: block;
}
.c-nav__toggle {
  display: block;
}
.c-nav__menu, .c-nav__toggle--checkbox {
  display: none;
}
.c-nav__menu {
  width: 100%;
  left: 0;
  position: absolute;
}
.c-nav__menu label {
  display: block;
  width: 100%;
}
@media (min-width: 576px) {
  .c-nav__menu {
    display: inline-block;
    position: relative;
  }
  .c-nav__toggle {
    display: none;
  }
  .c-nav__toggle--checkbox:checked ~ .c-nav__menu label, .c-nav__menu label {
    display: inline-block;
    width: auto;
  }
}

.o-tabs__label {
  display: inline-block;
}
.o-tabs__toggle, .o-tabs__tab {
  display: none;
}
.o-tabs__toggle:checked + .o-tabs__tab {
  display: block;
}

.c-tabs__label {
  border: 1px solid #ccc;
  border-bottom: 0px;
}
.c-tabs__tab {
  border: 1px solid #ccc;
}

/* Utilities */
.u-align__text {
  text-align: center;
}
@media (min-width: 576px) {
  .u-align__text {
    text-align: left;
  }
}
.u-align__text--right {
  text-align: center;
}
@media (min-width: 576px) {
  .u-align__text--right {
    text-align: right;
  }
}
.u-align__text--center {
  text-align: center;
}
@media (min-width: 576px) {
  .u-align__text--center {
    text-align: center;
  }
}

.u-font__size {
  font-size: 14pt;
}
.u-font__size--alpha {
  font-size: 28pt;
}
.u-font__size--bravo {
  font-size: 24pt;
}
.u-font__size--charlie {
  font-size: 20pt;
}
.u-font__size--delta {
  font-size: 16pt;
}

.u-theme {
  background: #fff;
  border-color: #ccc;
  color: #111;
}
.u-theme-green {
  background: #006E6D;
  color: #fff;
  border-color: #006E6D;
}
.u-theme-grey {
  background: #efefef;
  color: #111;
  border-color: #bdbdbd;
}
.u-theme-orange {
  background: #E08119;
  color: #fff;
  border-color: #E08119;
}
.u-theme-red {
  background: #9B1B30;
  color: #fff;
  border-color: #9B1B30;
}
.u-theme-blue {
  background: #3F69AA;
  color: #fff;
  border-color: #3F69AA;
}
.u-theme-eclipse {
  background: #343148;
  color: #fff;
  border-color: #006E6D;
}
.u-theme-sargasso {
  background: #485167;
  color: #fff;
  border-color: #006E6D;
}

/* Width */
.u-width--1-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .u-width--1-12 {
    width: 8.3333333333%;
  }
}

.u-width--2-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .u-width--2-12 {
    width: 16.6666666667%;
  }
}

.u-width--3-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .u-width--3-12 {
    width: 25%;
  }
}

.u-width--4-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .u-width--4-12 {
    width: 33.3333333333%;
  }
}

.u-width--5-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .u-width--5-12 {
    width: 41.6666666667%;
  }
}

.u-width--6-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .u-width--6-12 {
    width: 50%;
  }
}

.u-width--7-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .u-width--7-12 {
    width: 58.3333333333%;
  }
}

.u-width--8-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .u-width--8-12 {
    width: 66.6666666667%;
  }
}

.u-width--9-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .u-width--9-12 {
    width: 75%;
  }
}

.u-width--10-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .u-width--10-12 {
    width: 83.3333333333%;
  }
}

.u-width--11-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .u-width--11-12 {
    width: 91.6666666667%;
  }
}

.u-width--12-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .u-width--12-12 {
    width: 100%;
  }
}

/* Margin and Padding */
@media (min-width: 768px) {
  .u-margin__huge {
    margin: 40px;
  }
}
@media (min-width: 768px) {
  .u-margin__huge--top {
    margin-top: 40px;
  }
}
@media (min-width: 768px) {
  .u-margin__huge--right {
    margin-right: 40px;
  }
}
@media (min-width: 768px) {
  .u-margin__huge--bottom {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .u-margin__huge--left {
    margin-left: 40px;
  }
}

@media (min-width: 768px) {
  .u-padding__huge {
    padding: 40px;
  }
}
@media (min-width: 768px) {
  .u-padding__huge--top {
    padding-top: 40px;
  }
}
@media (min-width: 768px) {
  .u-padding__huge--right {
    padding-right: 40px;
  }
}
@media (min-width: 768px) {
  .u-padding__huge--bottom {
    padding-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .u-padding__huge--left {
    padding-left: 40px;
  }
}
@media (min-width: 768px) {
  .u-padding__huge--vertical {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .u-margin__large {
    margin: 32px;
  }
}
@media (min-width: 768px) {
  .u-margin__large--top {
    margin-top: 32px;
  }
}
@media (min-width: 768px) {
  .u-margin__large--right {
    margin-right: 32px;
  }
}
@media (min-width: 768px) {
  .u-margin__large--bottom {
    margin-bottom: 32px;
  }
}
@media (min-width: 768px) {
  .u-margin__large--left {
    margin-left: 32px;
  }
}

@media (min-width: 768px) {
  .u-padding__large {
    padding: 32px;
  }
}
@media (min-width: 768px) {
  .u-padding__large--top {
    padding-top: 32px;
  }
}
@media (min-width: 768px) {
  .u-padding__large--right {
    padding-right: 32px;
  }
}
@media (min-width: 768px) {
  .u-padding__large--bottom {
    padding-bottom: 32px;
  }
}
@media (min-width: 768px) {
  .u-padding__large--left {
    padding-left: 32px;
  }
}
@media (min-width: 768px) {
  .u-padding__large--vertical {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .u-margin__medium {
    margin: 24px;
  }
}
@media (min-width: 768px) {
  .u-margin__medium--top {
    margin-top: 24px;
  }
}
@media (min-width: 768px) {
  .u-margin__medium--right {
    margin-right: 24px;
  }
}
@media (min-width: 768px) {
  .u-margin__medium--bottom {
    margin-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .u-margin__medium--left {
    margin-left: 24px;
  }
}

@media (min-width: 768px) {
  .u-padding__medium {
    padding: 24px;
  }
}
@media (min-width: 768px) {
  .u-padding__medium--top {
    padding-top: 24px;
  }
}
@media (min-width: 768px) {
  .u-padding__medium--right {
    padding-right: 24px;
  }
}
@media (min-width: 768px) {
  .u-padding__medium--bottom {
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .u-padding__medium--left {
    padding-left: 24px;
  }
}
@media (min-width: 768px) {
  .u-padding__medium--vertical {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (min-width: 768px) {
  .u-margin__small {
    margin: 16px;
  }
}
@media (min-width: 768px) {
  .u-margin__small--top {
    margin-top: 16px;
  }
}
@media (min-width: 768px) {
  .u-margin__small--right {
    margin-right: 16px;
  }
}
@media (min-width: 768px) {
  .u-margin__small--bottom {
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .u-margin__small--left {
    margin-left: 16px;
  }
}

@media (min-width: 768px) {
  .u-padding__small {
    padding: 16px;
  }
}
@media (min-width: 768px) {
  .u-padding__small--top {
    padding-top: 16px;
  }
}
@media (min-width: 768px) {
  .u-padding__small--right {
    padding-right: 16px;
  }
}
@media (min-width: 768px) {
  .u-padding__small--bottom {
    padding-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .u-padding__small--left {
    padding-left: 16px;
  }
}
@media (min-width: 768px) {
  .u-padding__small--vertical {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .u-margin__tiny {
    margin: 8px;
  }
}
@media (min-width: 768px) {
  .u-margin__tiny--top {
    margin-top: 8px;
  }
}
@media (min-width: 768px) {
  .u-margin__tiny--right {
    margin-right: 8px;
  }
}
@media (min-width: 768px) {
  .u-margin__tiny--bottom {
    margin-bottom: 8px;
  }
}
@media (min-width: 768px) {
  .u-margin__tiny--left {
    margin-left: 8px;
  }
}

@media (min-width: 768px) {
  .u-padding__tiny {
    padding: 8px;
  }
}
@media (min-width: 768px) {
  .u-padding__tiny--top {
    padding-top: 8px;
  }
}
@media (min-width: 768px) {
  .u-padding__tiny--right {
    padding-right: 8px;
  }
}
@media (min-width: 768px) {
  .u-padding__tiny--bottom {
    padding-bottom: 8px;
  }
}
@media (min-width: 768px) {
  .u-padding__tiny--left {
    padding-left: 8px;
  }
}
@media (min-width: 768px) {
  .u-padding__tiny--vertical {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

/*# sourceMappingURL=toolkit.css.map */
