@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
* {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
	font-family: 'Archivo Narrow', sans-serif;
}

/* Settings */
@import "settings/screen.scss";
@import "settings/breakpoints.scss";
@import "settings/offsets.scss";
@import "settings/directions.scss";
@import "settings/font-sizes.scss";

@import "settings/screen.scss";
@import "settings/colors.scss";
@import "settings/core.scss";

/* Objects */
@import "objects/accordion.scss";
@import "objects/blocks.scss";
@import "objects/box.scss";
@import "objects/button.scss";
@import "objects/list.scss";
@import "objects/tabs.scss";

@import "objects/layout.scss";
@import "objects/container.scss";

/* Components */
@import "components/accordion.scss";
@import "components/blocks.scss";
@import "components/box.scss";
@import "components/button.scss";
@import "components/image.scss";
@import "components/input.scss";
@import "components/nav.scss";
@import "components/table.scss";
@import "components/tabs.scss";


/* Utilities */
@import "utilities/font.scss";
@import "utilities/theme.scss";

@import "utilities/align.scss";
@import "utilities/width.scss";
@import "utilities/spacing.scss";
