$color-grey: #ccc;
$color-grey-light: #efefef;
$color-grey-dark: #bdbdbd;

$color-green : green;
$color-orange: orange;
$color-red: red;
$color-white: white;
$color-black: black;
$color-blue: blue;