$color-grey: #ccc;
$color-grey-light: #efefef;
$color-grey-dark: #bdbdbd;

$color-green : #006E6D;
$color-orange: #E08119;
$color-red: #9B1B30;
$color-white: #fff;
$color-black: #111;
$color-blue: #3F69AA;
$color-blue-light: #577284;

$color-eclipse: #343148;
$color-sargasso: #485167;