
.u-align__text {
  text-align: center;
  @include sm {
    text-align: left;
  }
  
  &--right {
    text-align: center;
    @include sm {
      text-align: right;
    }
  }
  
  &--center {
    text-align: center;
    @include sm {
      text-align: center;
    }
  }

}

.u-align__content {
  align-items: center;
  &--top {
     align-items: top;
  }
  &--bottom {
     align-items: bottom;
  }
}
