.u-font {
  text-decoration: none !important;
  color: inherit !important;
  
  &-style--bold {
    font-weight: bold !important;
  }
  
  &-style--underline {
    text-decoration: underline !important;
  }
  
  &-style--overline {
    text-decoration: overline !important;
  }
  
  &-style--line-through {
    text-decoration: line-through !important;
  }
  
  &-style--italic {
    font-style: italic !important; 
  }
  
  
  &-size {
    font-size: $font-size-default;

     @each $name, $value in $font-sizes {
      &--#{$name} {
        font-size: #{$value};
      }
     }

     @each $bp-name, $bp-value in $breakpoints {
         @each $name, $value in $font-sizes {
          &--#{$name}\@#{$bp-name} {
            font-size: #{$value};
          }
         }
     }
   }

}
