.u-font {

  &-size {
    font-size: $font-size-default;

     @each $name, $value in $font-sizes {
      &--#{$name} {
        font-size: #{$value};
      }
     }

     @each $bp-name, $bp-value in $breakpoints {
         @each $name, $value in $font-sizes {
          &--#{$name}\@#{$bp-name} {
            font-size: #{$value};
          }
         }
     }
   }

   &--bold {
    font-weight: bold;
   }

}