/* Padding, Margin */



@each $os-name, $os-value in $offsets {

 .u-margin {
   &--#{$os-name}{
            margin: #{$os-value};
           }
           @each $direction in $adjust-directions {
              &-#{$direction}--#{$os-name} {
                  margin-#{$direction}: #{$os-value};
              }
           }
      }

      .u-padding {
           &--#{$os-name} {
            padding: #{$os-value};
           }
           @each $direction in $adjust-directions {
              &-#{$direction}--#{$os-name} {
                  padding-#{$direction}: #{$os-value};
              }
           }
      }    
}



@each $bp-name, $bp-value in $breakpoints {
  @media screen and (max-width: $bp-value) {
    @each $os-name, $os-value in $offsets {

      .u-margin {
           &--#{$os-name}\@#{$bp-name} {
            margin: #{$os-value};
           }
           @each $direction in $adjust-directions {
              &-#{$direction}--#{$os-name}\@#{$bp-name} {
                  margin-#{$direction}: #{$os-value};
              }
           }
      }

      .u-padding {
           &--#{$os-name}\@#{$bp-name} {
            padding: #{$os-value};
           }
           @each $direction in $adjust-directions {
              &-#{$direction}--#{$os-name}\@#{$bp-name} {
                  padding-#{$direction}: #{$os-value} !important;
              }
           }
      }    
     }
   }
}
       
