.c-markdown {
  
  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  
  pre, code {
    background: #efefef;
  }
 
  h1,h2,h3,h4,h5,pre, code {
   padding: 10px;
  }
  
  p {
   padding: 10px 0px; 
  }
  
}
