.c-markdown {
  display: block;
  white-space: pre-wrap;
  * { 
    word-break: break-word;
  }
  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  
  pre, code {
    background: #efefef;
  }
 
  pre {
   @extend .u-padding--small;
  }
  
  p, h1, h2, h3, h4, h5 {
   padding: 10px 0px; 
  }
  
  
  h1 {
    @extend .u-font-size--bravo;
  }
  h2, h3 {
    @extend .u-font-size--charlie;
  }
  h4, h5 {
    @extend .u-font-size--delta;
  }
}
