.c-modal {
  
  &__toggle {
    display: none;
  }
  
  &__button {
    display: block;
  }
  
  &__content {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99;
  }
  
  input[type="checkbox"]:checked ~   &__content  {
    display: block;
  }
  
}
